body {
	width: 330px;
	padding: 0;
	margin: 0;
	background-color: rgb(248, 248, 248);
}

::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-thumb {
	background: rgba(255, 139, 79, 0.7);
	border-radius: 2px;
}
