#links-field {
	margin-top: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-icon {
	height: 18px;
	margin: 0 6px;
}

.link-icon:hover {
	-webkit-filter: drop-shadow(0px 3px 5px rgba(255, 139, 79, 0.8));
	filter: drop-shadow(0px 3px 5px rgba(255, 139, 79, 0.8));
}
