#price-graph-field {
	margin: 8px 16px 0;
	padding-right: 20px;
	height: 125px;
	width: 100%;
}
#graph-title {
	font-weight: 400;
	color: rgb(100, 100, 100);
	margin: 0 0 3px;
}

.graph-range-button {
	padding: 1px 4px;
	margin: 0 4px 0 4px;
	background: none;
	border: 1px solid rgba(100, 100, 100, 0.1);
	border-radius: 5px;
	cursor: pointer;

	color: rgba(100, 100, 100);
	font-weight: 500;
	font-size: 12px;
}

.recharts-yAxis
	.recharts-cartesian-axis-ticks
	.recharts-cartesian-axis-tick:first-child
	line {
	stroke: none;
}
.recharts-yAxis
	.recharts-cartesian-axis-ticks
	.recharts-cartesian-axis-tick:first-child
	text
	tspan {
	font-size: 0;
}
