#description-field {
	margin: 0 16px;
}
#description {
	max-height: 95px;
	margin-left: 1px;
	font-size: 14px;
	overflow-y: scroll;
}
#description-preview {
	font-size: 14px;
	max-height: 90px;
	width: 285px;
	margin-left: 1px;

	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

#read-more-button {
	height: 20px;
	margin-left: 1px;
	padding: 0px;

	background-color: rgb(248, 248, 248);
	color: rgba(255, 139, 79, 1);
	border: none;
}

#read-more-button:hover {
	border-bottom: solid 2px rgba(255, 255, 255, 0);
}

#description-field a {
	color: rgba(255, 139, 79, 1);
	text-decoration: none;
}
#description-field a:hover {
	border-bottom: solid 1px rgba(255, 139, 79, 0.8);
}

#title {
	margin: 10px 0 0 0;
	padding-bottom: 4px;
	font-size: 14px;
	font-weight: 650;
}
