#interaction-field {
	margin: 0 16px;
}
#input-field {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#search-input {
	width: 100px;
	border: none;
	border-bottom: solid 1px rgba(255, 139, 79, 0.8);
	display: block;
	padding: 9px 4px 9px 40px;
	background: transparent
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
		no-repeat 13px center;
}
#search-input:focus {
	border: none;
	outline: none;
}

#quote-switch {
	margin-right: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-bar {
	display: flex;
	flex-wrap: wrap;
}
.nav-item {
	min-width: 30%;
	height: 25px;
	flex-grow: 1;
	background-color: rgb(248, 248, 248);
	border: none;
}
.nav-item:hover {
	background-color: rgb(190, 190, 190);
	border: none;
}
.active-nav-item {
	font-weight: 650;
	border-bottom: solid 1px rgba(255, 139, 79, 0.8);
}
